.swiper {
    width: 100%;
    height: 100%;
    padding-top: 100px;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-slide {
    width: 80%;
  }
  
  .swiper-slide:nth-child(2n) {
    width: 60%;
  }
  
  .swiper-slide:nth-child(3n) {
    width: 40%;
  }

  .swiper-button-prev{
    position: absolute;
    top: 10px;
    right: calc(37% - 300px) ;
    z-index: 9;
    background-color: #F0F2F3;
    border-radius: 50px;
    padding: 10px 14px;
    cursor: pointer;
  }
  .swiper-button-next{
    position: absolute;
    top: 10px;
    right: calc(34% - 300px) ;
    z-index: 9;
    background-color: #F0F2F3;
    border-radius: 50px;
    padding: 10px 14px;
    cursor: pointer;
  }

  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '←';
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '→';
}

.swiper-button-prev:hover , .swiper-button-next:hover{
    background-color: #029FAE;
    color: #fff;
}

@media screen and (max-width: 2100px) {
    .swiper-button-next{
        right: calc(32% - 300px) ;
    }
    .swiper-button-prev{
        right: calc(35% - 300px) ;
    }
  }

@media screen and (max-width: 1800px) {
    .swiper-button-next{
        right: calc(30% - 300px) ;
    }
    .swiper-button-prev{
        right: calc(33% - 300px) ;
    }
  }

@media screen and (max-width: 1600px) {
    .swiper-button-next{
        right: calc(28% - 300px) ;
    }
    .swiper-button-prev{
        right: calc(32% - 300px) ;
    }
  }

@media screen and (max-width: 1400px) {
    .swiper-button-next{
        right: calc(25% - 300px) ;
    }
    .swiper-button-prev{
        right: calc(29% - 300px) ;
    }
  }
@media screen and (max-width: 1300px) {
    .swiper-button-next{
        right: 20px ;
    }
    .swiper-button-prev{
        right: 80px ;
    }
  }